@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.molecule-float {
  animation: float 4s ease-in-out infinite;
}

.molecule-float-delay {
  animation: float 4s ease-in-out infinite;
  animation-delay: 2s;
}